.statistics {
  margin-top: 5rem;
}

.title {
  text-transform: uppercase;
  color: #2a0808;
  margin-bottom: 50px;
}

.statList {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60px;
  padding: 20px;

  color: #fff;
  background-color: #ccc;
}

.label {
  font-size: 23px;
  margin-bottom: 10px;
}